
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans+Condensed:300|Raleway|Sacramento');

 body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-image: url('./assets/img/wood_background.jpg');
    background-size: cover;
  }

  /* Navigation bar */

  .top-bar .top-bar-left, .top-bar .top-bar-right .menu {
    background-color: white;
  }

  .top-bar, .top-bar ul {
    background-color: white;
  }

  .menu .menu-text {
    color: #390040;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
  }

  .menu a {
    color: #730071;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
  }

  /* Header */

  .text-center {
    position: absolute;
    top: 0%;
    /* background-color: #e291a4; */
    background-color: #527809;
    border-radius: 100%;
    width: 20vw;
    height: 20vw;
    margin-left: 2vw;
    margin-top: 2vw;
    padding: 2%;
    border-style: double;
    border-width: 8px;
  }

  .text-center h1 {
    font-family: 'Kaushan Script', cursive;
  }

  .text-center a {
    color: white;
  }

  .text-center p {
    color: #730071;
  }

  .text-center img {
    width: 10vw;
  }

  /* Blog Content */

  #content > .blog-container {
    width: 100%
  }

  #first-post-img {
    float: left;
    width: 28%;
    margin-right: 2%;
  }

  .blog-post > div {
    background-color: #bc79ad;
    padding: 3%;
    border-radius: 8%;
    margin-bottom: 5%;
  }

  .blog-post p {
    font-family: 'Raleway', sans-serif;
  }

  .blog-post p img {
    float: left;
    margin-right: 2%;
    border: 2px solid white;
  }
  
  .blog-post div h2 {
    color: white;
    font-family: 'Sacramento', cursive;
    text-align: center;
  }

  .blog-post div p:first-of-type a {
    color: black;
  }

  #bottom-frame {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 14vw;
  }

  

  /* Sidebar */
  .sticky {
    background-color: #527809;
    padding: 10%;
    border-radius: 14%;
  }

  .sticky h4 {
    color: white;
    font-family: 'Sacramento', cursive;
  }

  .sticky p {
    font-family: 'Raleway', sans-serif;
  }

  .sticky a {
    font-family: 'Raleway', sans-serif;
  }

  .list-unstyled a {
    color: black;
  }